In [1]:
my_tuple = (1, 2, 3, 4)

In [3]:
my_tuple.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
l=[1,2,2,3,4]
def calc(l):
    m=0
    for i in l:
        m=m+i
    print(m)
calc(l)

12

In [24]:
li=[1,2,2,3,4]
def calc(li):
    m=1
    for i in li:
        m=m*i
    print(m)
calc(li)

48

In [31]:
li=[1,2,2,3,4]
def calc(li):
    m=li[0]
    for i in li:
        if l[i]< m:
            m=l[i]
    print(m)
calc(li)

1

In [34]:
li=[1,2,2,3,4]
def calc(li):
    m=li[0]
    for i in li:
        if l[i]> m:
            m=l[i]
    print(m)
calc(li)

4

In [38]:
li=["ahmed","mona","mai"]
def calc(li):
    m=0
    for i in li:
        m=m+1
    print(m)
calc(li)

3

In [55]:
li=["ahmed","mona","mai"]
def calc(li):
    m=[]
    for i in li:
        m.append(i)
    print(m)
calc(li)

['ahmed', 'mona', 'mai']

In [75]:
li=[1,2,3,4,5]
se={1,2,3,4,5,6,7,8,9}
l=[]
def calc(li,se):
    m=[]
    for i in se:
        se.remove(li)
    m=remove_items_from_set(se,li)
    print(m)
calc(li,se)

TypeError: unhashable type: 'list'

In [90]:
se1={1,2,4,5}
se2={1,2,4,5,6}
def calc(se1,se2):
    for i in se1:
        if i not in se2:
            return False 
        
    return True
calc(se1,se2)

True

In [106]:
se1={1,2,4,5}
def calc(se1):
    for i in se1:
        se1.clear()
    print(se1)

In [108]:
calc(se1)

RuntimeError: Set changed size during iteration

In [127]:

se={5,2,1,9,6,4}
def calc(se1):
    m= -999 
    k= 999
    for i in se:
        if i > m:
            m=i
        if i < k:
            k=i
    print(m)
    print(k)
calc(se)

9
1

In [131]:
my_tuple = (1, 2, 3, 4)
print(my_tuple.index(1))

0

In [140]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
def calc(thistuple):
    d = {}
    k=0
    for i in thistuple:
        d[k]=i
        k+=1
    print(d)
calc(thistuple)

{0: 'apple', 1: 'banana', 2: 'cherry', 3: 'apple', 4: 'cherry'}

In [146]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
def calc(thistuple):
    d=[]
    
    for i in thistuple:
        d.append(i)
    print(d)
calc(thistuple)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [223]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
reversed = thistuple[::-1]
print(reversed)
if thistuple==reversed:
    print(reversed)

('cherry', 'apple', 'cherry', 'banana', 'apple')

In [166]:
thistuple = [("apple",1), ("banana",2), ("cherry",3)]
def calc(thistuple):
    d = {}
    k=0
    for i in thistuple:
        d[k]=i
        k+=1
    print(d)
calc(thistuple)

{0: ('apple', 1), 1: ('banana', 2), 2: ('cherry', 3)}

In [168]:
Samplelist: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
def calc(Samplelist):
    for i in Samplelist:
        newlist=i[:-1]
        new.append(newlist)
    return new
print(new)
calc(Samplelist)

NameError: name 'new' is not defined

In [172]:
thistuple = (6.9,2.1,2.0)
def calc(thistuple):
    d = ()
    k=0
    for i float thistuple:
        if k<i:
            d[k]=i
            k+=1
    print(d)
calc(thistuple)

SyntaxError: invalid syntax (931528791.py, line 5)

In [181]:
st = 'Print only the words that start with s in this sentence'
new=st.split()
for i in new:
    if i[0]=="s":
        print(i)

start
s
sentence

In [187]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [195]:
x = range(1,51)
lis=[]
for i in range(1,51):
    if i %3==0:
        lis.append(i)

print(lis)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [207]:
st = 'Print every word in this sentence that has an even number of letters'
new=st.split()
for i in new:
    if len(i) % 2==0:
        print(i)

word
in
this
sentence
that
an
even
number
of

In [219]:


st = 'Create a list of the first letters of every word in this string'
new=st.split()
for i in new:
    k=i[0]
    print(k)

C
a
l
o
t
f
l
o
e
w
i
t
s

In [221]:

    
for i in range(1,101):
    if i %3==0 and i%5==0:
        print("FizzBuzz")
    if i %3==0:
        print("Fizz")
    if i%5==0:
        print("Buzz")

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Buzz
Fizz
Fizz
Buzz